
{% extends "base.html" %}

{% block title %}Logged Out{% endblock %}

{% block content %}

<div id="static">
	<div class="right">
		<div class="header-4">
			<h2>Why should I log out?</h2>
		</div>
		<p>Logging out is a good idea because it protects your 
			personal information in case someone is trying to use
			your account.</p>			
	</div>
	<div class="left">
	<div class="header-2">
		<h2>Logged Out</h2>
	</div>
	
	<p>Thanks for stopping by!</p>

	<p><a href="/">Home</a></p>
		
	</div>
</div>



{% endblock %}
