      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Memory Used </h3>
		  		
		  	<div class="row mt">
              <div class="col-lg-12">
                      <div class="content-panel">
						   <section id="no-more-tables">
                              <table class="table table-bordered table-striped table-condensed cf">
                                  <thead class="cf">
                                  <tr>
                                      <th>Detail</th>
                                      <th class="numeric">in Megabytes/Percent</th>
                               
                                     
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td data-title="Company">Total Physical Memory</td>
                                      <td class="numeric" data-title="Price">{{ data.totalp }}  MB</td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Total Virtual  Memory</td>
                                      <td class="numeric" data-title="Price">{{ data.totalv }} MB </td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Used Virtual Memory</td>
                                      <td class="numeric" data-title="Price">{{ data.usedv }} MB</td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Used Physical Memory</td>
                                      <td class="numeric" data-title="Price">{{ data.usedp }} MB</td>
                               
                                  </tr>



                                    <tr>
                                      <td data-title="Company">Free Virtual Memory </td>
                                      <td class="numeric" data-title="Price">{{ data.freev }} MB</td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Free Physical Memory</td>
                                      <td class="numeric" data-title="Price">{{ data.freep}} MB</td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Percent Utilized</td>
                                      <td class="numeric" data-title="Price">{{ data.percentp}} %</td>
                               
                                  </tr>
                                    <tr>
                                      <td data-title="Company">Swap Utilized</td>
                                      <td class="numeric" data-title="Price">{{ data.percentv }} %</td>
                               
                                  </tr>
                                  </tbody>
                              </table>
                          </section>
                      </div><!-- /content-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->