<section id="main-content">
          <section class="wrapper">

              <div class="row">

              {% block content %}
  
   
              {% endblock %}
                  <!--<div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  	
               
                  
                 
                  
                  	</div>
                  
                      
                      <div class="row mt">
                   
                    </div>
                    
   
					
					<div class="row mt">
                    
                
					</div>
					
                  </div>-->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  

              </div>
          </section>
      </section>