{% extends "base.html" %}




{% block content %}


{% if object_list %}


<table width="92%" align="center" cellpadding="10">
<tr> <td width="100%" colspan ="8"> <strong>Users in the Domain</strong>  </td> </tr>
<tr class="row-a"><td> SNo </td><td> User </td><td> Quota Alloted</td>  <td>Quota Used</td>   
     <td>Percent Used </td> <td>Change Password </td> <td>Change Quota </td>
   <td>Delete User </td>
</tr>
{% for object in object_list %}

<tr class="row-b"><td> {{ forloop.counter }} </td><td> {{ object.user.username }} </td><td>       {{ object.quota }}   </td>

<td>       {{ object.used }}   </td>


<td>       {{ object.percent  }}   </td>

<td> <a href="/users/changepassword/{{ object.id }}/"> Change Password </a> </td> 
<td> <a href="/users/changequota/{{ object.id }}/">   Change Quota</a> </td> 
<td> <a href="/users/delete/{{ object.id }}/">  Delete this User</a> </td> 



</tr>



{% endfor %}

</table>

{% else %}

No Users Added Yet
{% endif %}

{% endblock %}
